<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>ClinicPet</display-name>


    <servlet>
        <servlet-name>AddClient</servlet-name>
        <servlet-class>com.devcolibri.servlet.AddClient</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddClient</servlet-name>
        <url-pattern>/addclient</url-pattern>
    </servlet-mapping>





    <servlet>
        <servlet-name>AddCountry</servlet-name>
        <servlet-class>com.devcolibri.servlet.AddCountry</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCountry</servlet-name>
        <url-pattern>/addcountry</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>AddCity</servlet-name>
        <servlet-class>com.devcolibri.servlet.AddCity</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCity</servlet-name>
        <url-pattern>/addcity</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>AddBreed</servlet-name>
        <servlet-class>com.devcolibri.servlet.AddBreed</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddBreed</servlet-name>
        <url-pattern>/addbreed</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ClientView</servlet-name>
        <servlet-class>com.devcolibri.servlet.ClientView</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientView</servlet-name>
        <url-pattern>/clientview</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>UpdateClient</servlet-name>
        <servlet-class>com.devcolibri.servlet.UpdateClient</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateClient</servlet-name>
        <url-pattern>/updateclient</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>DeleteClient</servlet-name>
        <servlet-class>com.devcolibri.servlet.DeleteClient</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteClient</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>DeleteAllClient</servlet-name>
        <servlet-class>com.devcolibri.servlet.DeleteAllClient</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteAllClient</servlet-name>
        <url-pattern>/deleteall</url-pattern>
    </servlet-mapping>




    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.devcolibri.servlet.LoginServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>


    <servlet>
           <servlet-name>SortedByType</servlet-name>
           <servlet-class>com.devcolibri.servlet.SortedByType</servlet-class>
       </servlet>
       <servlet-mapping>
           <servlet-name>SortedByType</servlet-name>
           <url-pattern>/sortbytype</url-pattern>
       </servlet-mapping>





</web-app>